@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 135 100% 50%;
    --primary: 135 100% 50%;
    --muted: 0 0% 15%;
    --muted-foreground: 135 100% 30%;
    --border: 135 100% 30%;
    --radius: 0rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 135 100% 50%;
    --primary: 135 100% 50%;
    --muted: 0 0% 15%;
    --muted-foreground: 135 100% 30%;
    --border: 135 100% 30%;
  }

  body {
    @apply bg-background text-foreground selection:bg-foreground selection:text-background font-mono antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .font-serif, .font-heading {
    font-family: var(--font-vt323), monospace;
  }
  .font-sans, .font-mono {
    font-family: var(--font-space-mono), monospace;
  }
}